<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout/main.html">
<div layout:fragment="content">
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">검색하기</h2>
                <h3 class="section-subheading text-muted">여러분의 파일을 검색하세요</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="검색어를 입력하세요.">
                        <button class="btn btn-outline-secondary" type="button" >Button</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>