<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/memoLayout :: headMain"></head>
<body id="page-top">

<!-- 상단 내비게이션 -->
<nav th:replace="fragments/memoLayout :: navbarMain"></nav>
<!-- 헤더 -->
<header th:replace="fragments/memoLayout :: headerMain"></header>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" th:text="${board.master.name}"></h2>
            <h3 class="section-subheading text-muted" th:text="${board.master.description}"></h3>
        </div>
        <div class="row text-center">
            <h2 class="view-title" th:text="${board.title}"></h2>
            <div class="view-info">
                <div class="view-writer" th:text="${'작성자 : ' + board.writer}"></div>
                <div class="view-regDate" th:text="${'작성일자 : ' + #temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
                <form class="btn-group action-form" action="" method="">
                    <input type="hidden" name="id" th:value="${board.id}" >
                    <input type="hidden" name="masterId" th:value="${board.master.id}" >
                    <button type="button" class="btn btn-info location-href" th:data-locationHref="${'/memo/list?id=' + board.master.id}">목록</button>
                    <button type="button" class="btn btn-success location-href" th:data-locationHref="${'/memo/edit?id=' + board.id}">수정</button>
                    <button type="button" class="btn btn-danger form-submit confirm-btn" th:data-action="${'/memo/delete/process'}" data-method="post" data-confirm="게시글을 삭제하시겠습니까?">삭제</button>
                </form>
            </div>
            <div class="view-contents" th:utext="${board.contents}"></div>
        </div>
    </div>
</section>
<!-- 푸터 -->
<footer th:replace="fragments/memoLayout :: footerMain"></footer>
<!-- 스크립트 -->
<script th:replace="fragments/memoLayout :: memo-global-script"></script>
</body>
</html>
