<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/memoLayout :: headMain"></head>
<body id="page-top">

<!-- 상단 내비게이션 -->
<nav th:replace="fragments/memoLayout :: navbarMain"></nav>
<!-- 헤더 -->
<header th:replace="fragments/memoLayout :: headerMain"></header>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">게시글 제목</h2>
            <h3 class="section-subheading text-muted">작성자</h3>
        </div>
        <div class="row text-center">
            <div class="contents">
                <h4 class="my-3">E-Commerce</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</section>
<!-- 푸터 -->
<footer th:replace="fragments/memoLayout :: footerMain"></footer>
<!-- 스크립트 -->
<script th:replace="fragments/memoLayout :: memo-global-script"></script>
</body>
</html>
