<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/memoLayout :: headMain"></head>
<body id="page-top">

<!-- 상단 내비게이션 -->
<nav th:replace="fragments/memoLayout :: navbarMain"></nav>
<!-- 헤더 -->
<header th:replace="fragments/memoLayout :: headerMain"></header>
<!-- 컨텐츠 폼 -->
<section class="page-section bg-light memo-section-box" id="memo-add-box">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" th:text="${master.name}"></h2>
            <h3 class="section-subheading text-muted" th:text="${master.description}"></h3>
        </div>
        <form id="memo-add-form" class="action-form" action="/memo/add/process" method="post">
            <input type="hidden" name="masterId" th:value="${master.id}">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-12">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" id="title" name="title" type="text" placeholder="게시글 제목을 입력하세요"/>
                        <div class="invalid-feedback" >A name is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" id="writer" name="writer" type="text" placeholder="작성자 이름을 입력하세요"/>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <textarea class="form-control" id="write-contents" placeholder="내용을 입력하세요" name="contents"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                </div>
            </div>
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <div class="text-center">
                <button id="save-btn" class="btn btn-primary btn-xl text-uppercase" type="button">작성하기</button>
            </div>
        </form>
    </div>
</section>

<!-- 푸터 -->
<footer th:replace="fragments/memoLayout :: footerMain"></footer>
<script type="text/javascript" src="/libs/smarteditor/js/service/jindo2.all.js"></script>
<script type="text/javascript" src="/libs/smarteditor/js/service/HuskyEZCreator.js"></script>
<script type="text/javascript" src="/libs/smarteditor/js/service/hp_SE2M_AttachQuickPhoto.js"></script>
<!-- 스크립트 -->
<script th:replace="fragments/memoLayout :: memo-global-script"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let oEditors = [];
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: oEditors,
            elPlaceHolder: "write-contents",
            sSkinURI: "/libs/smarteditor/SmartEditor2Skin.html",
            htParams : {
                bUseToolbar : true,    // 툴바 사용 여부 (true:사용/ false:사용하지 않음)
                bUseVerticalResizer : true,  // 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
                bUseModeChanger : true,   // 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
                //bSkipXssFilter : true,  // client-side xss filter 무시 여부 (true:사용하지 않음 / 그외:사용)
                //aAdditionalFontList : aAdditionalFontSet,  // 추가 글꼴 목록
                fOnBeforeUnload : function(){
                    alert("완료!");
                },
                I18N_LOCALE : "ko_KR"
            }, //boolean
            fOnAppLoad : function(){
                //예제 코드
                //oEditors.getById["content"].exec("PASTE_HTML", ["로딩이 완료된 후에 본문에 삽입되는 text입니다."]);
            },
            fCreator: "createSEditor2"
        })



        function pasteHTML(filepath) {

// var sHTML = "<span style='color:#FF0000;'>이미지도 같은 방식으로 삽입합니다.<\/span>";
            var sHTML = '<span style="color:#FF0000;"><img src="'+filepath+'"></span>';
            oEditors.getById["content"].exec("PASTE_HTML", [sHTML]);
        }



        function showHTML() {
            var sHTML = oEditors.getById["content"].getIR();
            alert(sHTML);
        }

        function submitContents(elClickedObj) {
            oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []); // 에디터의 내용이 textarea에 적용됩니다.


            // 에디터의 내용에 대한 값 검증은 이곳에서 document.getElementById("content").value를 이용해서 처리하면 됩니다.

            try {

                var form2 = document.f;
                if (!form2.name.value) {
                    alert("작성자 이름을 입력해 주십시오");
                    form2.name.focus();
                    return;
                }



                if (!form2.subject.value) {
                    alert("글제목을 입력해 주십시오.");
                    form2.subject.focus();
                    return;
                }



                if (document.getElementById("content").value=="<p><br></p>") {
                    alert("내용을 입력해 주세요.");
                    oEditors.getById["content"].exec("FOCUS",[]);
                    return;
                }



                form2.action="notice_write_ok.php";
                //elClickedObj.form.submit();
                form2.submit();
            } catch(e) {alert(e);}
        }



        function setDefaultFont() {
            var sDefaultFont = '궁서';
            var nFontSize = 24;
            oEditors.getById["content"].setDefaultFont(sDefaultFont, nFontSize);
        }


        function writeReset() {
            document.f.reset();
            oEditors.getById["content"].exec("SET_IR", [""]);

        }

        document.querySelector('#save-btn').addEventListener('click', (e) => {
            if(!confirm('게시글을 작성하시겠습니까?')) return;
            oEditors.getById['write-contents'].exec("UPDATE_CONTENTS_FIELD", []);
            document.querySelector('#memo-add-form').submit();
        })
    });
</script>
</body>
</html>

